

		<footer class="footer-distributed">

			<div class="footer-right">

			
				<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
				<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
				<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
				<i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#">Home</a>

					<a href="#">Blog</a>

					<a href="#">Pricing</a>

					<a href="#">About</a>

					<a href="#">Faq</a>

					<a href="#">Contact</a>
				</p>

				<p>Copyright Chiara &copy; 2021</p>
			</div>

		</footer>