<html lang="en">

<head>
  <title>Waves Hunter belieber</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Mochiy+Pop+P+One&family=Shippori+Antique&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="card">
    <div class="card-img">
      <img src="../../assets/img/surfboard2.jpg">

    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>Hey Waves Hunter!</h1>
        <h2>Buy a SURFBOARD</h2>
        <p><strong> ...and Enjoy IT </strong></p>
      </div>
      <div class="product-btn">
        <button type="button"><strong>Click here to buy it!</strong></button>
          <button type="button" on-click=incrementaApprezzamenti()><strong>Click here</strong>
          </button>

      </div>
    </div>
</div>
</body>

</html>